html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}


.nav {
    background-color: #686D82;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav a {
    color: #fff; 
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav a:hover {
    text-decoration: underline; 
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  body {
    background-color: #e7e9f0;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  } 
  
  .bizons{
    width: 100px;
    height: 100px;
  }
  p{
    color: #4A2C0F;
    font-size: 14pt;
    font-weight: 600; 
  }

  
  